@import "tailwindcss";

@theme {
  --default-font-family: Inter, ubuntu, sans-serif;

  --color-text-base: #f1f5f9;
  --color-text-muted: #8c8c8c;
  --color-text-inverse: #060a0e;
  --color-text-inverse-muted: #5f5f5f;

  --color-primary: var(--color-indigo-600);
  --color-secondary: var(--color-purple-950);
  --color-accent: var(--color-purple-800);
  --color-danger: var(--color-red-500);
  --color-success: #86efac;

  --color-linkedin-blue: var(--linkedin-blue);
  --color-whatsapp-green: var(--whatsapp-green);
  --color-google-blue: var(--google-blue);

  --color-bg-base: var(--color-zinc-950);
  --color-bg-base-alt: var(--color-neutral-900);
  --color-bg-base-light: var(--color-neutral-200);

  --color-surface: #0c0c0c;
}

:root {
  --bg-gradient: linear-gradient(
    180deg,
    #0c0c0c 23.33%,
    var(--color-neutral-950) 61.67%,
    var(--color-zinc-950) 100%
  );

  --text-gradient: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-accent)
  );

  --linkedin-blue: rgb(10, 102, 194);
  --whatsapp-green: #25d366;
  --google-blue: #4285f4;
}

@layer utilities {
  .bg-gradient-custom {
    background: var(--bg-gradient);
  }

  .text-gradient-custom {
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
  }
}

@layer components {
  main {
    @apply text-text-muted bg-bg-base -z-20;
  }

  main > section {
    @apply flex flex-col items-center justify-center;

    & > .container {
      @apply z-20 max-w-5xl mx-auto;
    }

    &:not(#hero-section, #skills-section, #projects-section) {
      @apply min-h-screen;
    }
  }

  nav > .active {
    @apply text-text-base;
  }
}

html {
  scroll-behavior: smooth;
}

.project-card-link-container {
  .project-card-link {
    @apply text-text-base;
  }

  &:has(.project-card-link:hover) .project-card-link:not(:hover) {
    @apply text-text-muted;
  }
}
