@import "../scss/colors";

.container {
  background: $bg-2;

  .wrapper-1 {
    // overflow: hidden;
    // overflow-x: scroll;
    padding-block: 1.5em;

    .carousel {
      gap: 1.5em;
    //   justify-content: center;
    }
  }
}


// @keyframes carouselMovement {
//     0%{
//     }
//     100%{
//     }
// }