// Constants
$text-main : #e0e0e0;
$text-1 : #ffffff;
$text-2 : #cdcdcd;

$bg-main : #131313;
$bg-1 : #1e1e1e;
$bg-2 : #191919;
$bg-3 : #333333;

$bg-blur-1 : #33333356;

$border-1 : rgba(255, 255, 255, 0.06);
$border-2 : rgba(255, 255, 255, 0.2);

$shadow: #0000002b;

$cta : #1290e4;


// Classes
.bg-cta{
    background: $cta;
}

.text-cta{
    color: $cta !important;
}