// Title
.title-large {
  font-weight: 900;
  font-size: 8rem;
  line-height: 9.5rem;
}

// Heading Text
.heading-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
}

.heading-2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.heading-3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.625rem;
}

.heading-4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

// Body Text
.body-large {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.body-base {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.body-small {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.body-caption {
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1rem;
}

// Button text
.button-text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
